/*
    COLORS:
        H1: rgb(196, 174, 148)
        h2: #262525;
        h3: #262525;
        search: rgb(236, 236, 0)
        body container: rbg(244, 244, 244)
        body general container: rgb(200, 200, 200);
*/

body
{
    background-color: rgb(244, 244, 244);
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

@font-face
{
    font-family: headingFont;
    src: url(../fonts/kirsty.regular.otf);
}

h1
{
    color: rgb(196, 174, 148);
    font-size: 1500%;
    text-shadow: 35px 5px 50px rgba(70, 39, 20, 0.263), 7px 7px 30px rgba(244, 244, 244, 0.597);
    font-family: headingFont;
    letter-spacing: 25px;
    line-height: 125%;
    font-weight: lighter;
    margin-bottom: 5%;
    margin-top:10%;
    margin-inline: 15px;
}


h2
{
    font-family: headingFont;
    font-size: x-large;
    font-weight: light;
    color:rgb(80, 66, 48);
}

h3
{
    color:rgb(80, 66, 48);
    font-family: headingFont;
    font-weight: lighter;
    
}

p
{   
    font-family: headingFont;
    text-align:left;
}


button
{
    background-color:chocolate;
    border-radius: 15%;
    border:none;
    font-family: cowboy outlaw;
    font-weight: bold;
    
}

button:hover 
{
    box-shadow: #473326;
    text-decoration: underline;
    cursor: pointer;
}


a
{
    color:inherit; 
    text-decoration: none;
}
    
a:hover
{
        text-decoration: underline;
        text-decoration-color: #f5f5f5;
}



.gridContainer
{
    display: grid;
    grid-template-columns: 1fr;
    position:sticky;
    word-wrap: wrap;
    text-align: center;
    background-image: url(../images/headerBackground.jpg);
    background-repeat: no-repeat;
}

.gridHeadTitle
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridGeneral
{
    grid-template-columns: 1fr;
    display: grid;
    padding-top: 50px;
    width: 100%;
    position:sticky;
    padding-bottom: 50px;
}

.navBar
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: static; 
    display: grid;
    background-color: rgb(196, 174, 148);
    height: 60px;
    align-items: center;
    font-family: headingFont;
    color: rgb(80, 66, 48);;
}


input [type=text]
{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.wiskeyAdd
{
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
}


.search
{
    background-color: rgb(236, 236, 0);
    padding: 20px;
    font-size: large;
    color: white;
}

.img
{
    align-items: center;
    justify-content: center;
    display: grid;
    height: 100%;
}

.img-bottle
{
    
    align-items: baseline;
    justify-content: center;
    display: grid;
    height: 100%;
}

iframe
{
    margin: auto;
    border-radius: 8px;
    display: block;
    box-shadow:30px 25px 30px rgb(130, 129, 129);
}


section 
{
    background-color:rgba(102, 75, 55, 0.341);
    border-radius: 10%;

    margin-top: 8%;
    margin-inline: 8%;

    padding: 3%;
}